@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using Umbraco.Web


@*
    This snippet displays a list of links of the pages immediately under the top-most page in the content tree.
    This is the home page for a standard website.
    It also highlights the current active page/section in the navigation with the CSS class "current".
*@
@{ 
    var root = Model.Content.Site();
    var selection = root.Children.Where(x => x.IsVisible()).ToArray();
}

@if (selection.Length > 0)
{
<div class="collapse navbar-collapse" id="navbarNavDropdown">
    <a class="navbar-brand" href="@root.Url">@root.Name</a>
    <ul class="navbar-nav">
        @*@foreach (var menuItem in root.Children.Where("UmbracoNaviHide == false"))
        {
            var isProtected = umbraco.library.IsProtected(menuItem.Id, menuItem.Path);
            var loginAccess = isProtected && umbraco.library.HasAccess(menuItem.Id, menuItem.Path);

            if (!isProtected || loginAccess)
            {

            }
        }*@

        @foreach (var item in root.Children.Where("UmbracoNaviHide == false"))
        {
            var isProtected = umbraco.library.IsProtected(item.Id, item.Path);
            var loginAccess = isProtected && umbraco.library.HasAccess(item.Id, item.Path);

            if (!isProtected || loginAccess)
            {
                <li class="nav-item dropdown @(item.IsAncestorOrSelf(Model.Content) ? "active" : null)">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @item.Name
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        @foreach (var subMenuItem in item.Children().Where(x => x.IsVisible()))
                        {
                            if (subMenuItem.DocumentTypeAlias == "projectItem")
                            {
                                if (umbraco.library.GetPreValueAsString(
                                subMenuItem.GetPropertyValue<int>("projectStatus")) == "Completed")
                                {
                                    <a class="dropdown-item" href="@subMenuItem.Url">@subMenuItem.Name</a>
                                }
                            }
                            else
                            {
                                <a class="dropdown-item" href="@subMenuItem.Url">@subMenuItem.Name</a>
                            }
                        }
                    </div>
                </li>
            }
            else
            {
                <li class="nav-item @(item.IsAncestorOrSelf(Model.Content) ? "active" : null)">
                    <a class="nav-link" href="@item.Url">@item.Name</a>
                </li>
            }
        }

    </ul>
</div>
    
}